.meraki-port-style{
    width: 30px;  
    height: 30px; 
    background-color: aquamarine;
    border: 2px solid black;
}

.meraki-ports-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 1000px;
    height: 40px;
}

#meraki-case{
    background-color: gray;
    /* width: auto; */
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

