/* tag selectors */

body{
    margin: 0;
}

img{
    padding-right: 15px;
}

li:hover{
    background-color: #ebebeb;
}

/* id selectors */

#app{
    height: 100vh;
    width: 100vw;
}

#meraki-case{
    background-color: #ebebeb;
    border-radius: 3px;
    height: 160px;
    margin-top: 90px;
}

#left-navigation-pane{
    width: 25%;
}

#logo-container{
    height: 16%;
}

#button-choose-file-container{
    margin-top: 10px;
    margin-left: 15px;
}

#button-select-device{
    margin-top: 10px;
}

#dialog{
    display: none;
}

#table-container{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

/* class selectors */

.remove-all-margin-padding{
    margin:0 !important;
    padding:0 !important;
}

.meraki-port-style{
    width: 40px;  
    height: 40px; 
    background-color: black;
    margin: 2px;
    
}

.meraki-port-style:hover{
    background-color: #f0f0f0;
}

.meraki-port-number-style {
    width: 40px;
    height: 20px;
    margin: 2px;
}
